/* Make the iframe take up the full container */
.axiom-view-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-primary);
}

.axiom-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
